.not-found-container {
    background-color: #1a1a1a; /* Dark background */
    color: white; /* White text */
    height: 100vh;
    display: flex;
    height: 928px;
    background-color: #181818;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Robotic font style */
  }
  
  .not-found-image {
    width: 300px; /* Image size */
    height: 300px;
    margin-bottom: 5px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
  }
  
  .not-found-title {
    font-size: 2.5rem; /* Larger title font */
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .not-found-message {
    font-size: 1.2rem; /* Slightly smaller font for the message */
    margin: 5px 0;
  }
  